header {
   background-color: #C42D43;
}

header[role="banner"] {
    display: flex;
    justify-content: space-between; /* Ensures equal spacing */
    align-items: center; /* Aligns items vertically */
    flex-wrap: wrap; /* Ensures responsiveness */
    gap: 20px; /* Adds some space between the blocks */
    height: 432px;
}

header[role="banner"] .block {
    flex: 1; /* Makes both divs take equal width */
    max-width: 50%; /* Prevents overflowing */
    text-align: center; /* Centers content */
}

#block-linagora-banner img {
    width: 100%;
    height: 432px;
}
#block-linagora-siteintroduction {
    max-width: 536px;
}
#block-linagora-siteintroduction img {
    width: 204px;
    height: 204px;
}
#block-linagora-siteintroduction > div:nth-of-type(2) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #ffffff;
    top: -20px;
    position: relative;
}
#block-linagora-siteintroduction > div:nth-of-type(3)  {
    width: 252px;
    height: 60px;
    background-color: #C42D43;
    border: 1px solid #ffffff;
    margin: auto;
    border-radius: 50px;
}
#block-linagora-siteintroduction > div:nth-of-type(3) a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #F8F9FA;
    text-decoration: none;
    display: block;
    padding-top: 12px;
    padding-right: 29px;
    padding-bottom: 12px;
    padding-left: 29px;
}


#block-linagora-views-block-our-news-block-1 {
	width: 78.75%;
    margin-left: auto;
    margin-right: auto;
}
#block-linagora-views-block-our-news-block-1 h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 51.56px;
    text-align: center;
    color: #4A4E52;
}
/*#block-linagora-views-block-our-news-block-1 .owl-item {
	width:24vw!important;
}*/
#block-linagora-views-block-our-news-block-1 .views-field.views-field-field-news-image img {
	width:24vw;
	border-radius: 6px;
}
#block-linagora-views-block-our-news-block-1 .views-field-title span {
	display: block;
	height:56px;
}
#block-linagora-views-block-our-news-block-1 .views-field-created time {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #818C99;
}
#block-linagora-views-block-our-news-block-1 .views-field-title span a {
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    color: #4A4E52;
}
#block-linagora-views-block-our-news-block-1 .owl-nav.disabled {
	display: block;
    top: -230px;
    position: relative;
}
#block-linagora-views-block-our-news-block-1 div.owl-nav button span {
	display: none;
}
#block-linagora-views-block-our-news-block-1 div.owl-nav button.owl-next {
	background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	width:60px;
	height:60px;
	float: right;
	margin-right: 40px;
}
#block-linagora-views-block-our-news-block-1 div.owl-nav button.owl-prev {
	background-image: url('../images/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	width:60px;
	height:60px;
	float: left;
	margin-left: 40px;
}
#block-linagora-views-block-our-news-block-1 div.owl-nav button:hover {
	background-color: transparent;
}



/********************/
#block-linagora-views-block-our-news-block-2 {
	width: 78.75%;
    margin-left: auto;
    margin-right: auto;
}
#block-linagora-views-block-our-news-block-2 h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 51.56px;
    text-align: center;
    color: #4A4E52;
}
/*#block-linagora-views-block-our-news-block-1 .owl-item {
	width:24vw!important;
}*/
#block-linagora-views-block-our-news-block-2 .views-field.views-field-field-news-image img {
	/*width:24vw;*/
	border-radius: 6px;
}
#block-linagora-views-block-our-news-block-2 .views-field-title span {
	display: block;
	height:56px;
}
#block-linagora-views-block-our-news-block-2 .views-field-created time {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #818C99;
}
#block-linagora-views-block-our-news-block-2 .views-field-title span a {
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    color: #4A4E52;
}
/*#block-linagora-views-block-our-news-block-2 .owl-nav.disabled {
	display: block;
    top: -230px;
    position: relative;
}*/
#block-linagora-views-block-our-news-block-2 div.owl-nav button span {
	display: none;
}
#block-linagora-views-block-our-news-block-2 div.owl-nav button.owl-next {
	background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	width:60px;
	height:60px;
	float: right;
	margin-right: 40px;
}
#block-linagora-views-block-our-news-block-2 div.owl-nav button.owl-prev {
	background-image: url('../images/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	width:60px;
	height:60px;
	float: left;
	margin-left: 40px;
}
#block-linagora-views-block-our-news-block-2 div.owl-nav button:hover {
	background-color: transparent;
}



